$padding: 12px; // 间隙
$form-element-bg: #085f6f; // 表单元素按钮背景色
$form-element-bg-hover: #041616; // 表单元素按钮背景色 hover
$form-bg: #10353c; // 表单编辑器主体背景
$titlt-color: #5addac; // 标题色
$botton-bg: #1e5152; // 按钮背景
$botton-color: #5addac; // 按钮字体色
$phone-border-color: #0b2727; // 手机模型边框色
$form-label-color: #5feeec; // 表单标题色
$popup-bg: #296f6e; // 弹出背景色
$color: #33bcab; // 字体色
