.wl-viewer-box {
  position: relative;
  width: 100%;
  height: 100%;

  .wl-viewer-loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background: url("../../images/loading.gif") center no-repeat;
    background-color: #fff;
  }
}