.wl-context-menu {
  position: absolute;
  padding: 5px 0;
  z-index: 2018;
  background: #FFF;
  border: 1px solid #cfd7e5;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.wl-context-menu .menu-liet {
  min-width: 120px;
}

.wl-context-menu .menu-item {
  padding: 8px 20px 8px 15px;
  margin: 0;
  font-size: 14px;
  color: #606266;
  cursor: pointer;
}

.wl-context-menu .menu-item:hover {
  background: #ecf5ff;
  color: #66b1ff;
}

.wl-context-menu .menu-item .memu-item-icon {
  font-size: 16px;
  font-weight: 600;
}

.wl-context-menu .menu-item .memu-item-title {
  margin-left: 10px;
}
