.wl-table-dynamic {
  display: flex;
  flex-direction: column;
}

.wl-table-dynamic .check-list {
  margin-bottom: 15px;
}

.wl-table-dynamic .table-list {
  flex: 1;
  height: 100%;
}

.wl-table-dynamic .table-list th {
  text-align: center;
}
